<VirtualHost {{ apache_default_server_listen | default('*:80') }}>
{% if apache_default_server_name | default(False) %}
	ServerName {{ apache_default_server_name }}

{% endif %}
	ServerAdmin {{ apache_server_admin }}
	DocumentRoot /var/www/html

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
